<!-- formulario para cadastrar um sorvete-->
<form asp-controller="Sorvetes" asp-action="Cadastrar" method="post">
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="nome">
    <label for="sabor">Sabor</label>
    <input type="text" name="sabor" id="sabor">
    <label for="preco">Preço</label>
    <input type="text" name="preco" id="preco">
    <label for="quantidade">Quantidade</label>
    <input type="text" name="quantidade" id="quantidade">
    <label for="tipo">Tipo</label>
    <input type="text" name="tipo" id="tipo">
    <input type="submit" value="Cadastrar">
    <!-- enviar para o post-->
</form>